@font-face {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */

.header-bg {
  width: 100vw;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
}

.header-container {
  height: 60px;
  width: 1060px;
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.header-logo {
  width: 140px;
}

.header-left {
  display: flex;
}

.header-button-post-classified {
  width: 200px;
  height: 40px;
  background-color: #f36025;
  margin: auto 0;
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: bold;
}

.header-search {
  width: 120px;
  height: 60px;
  background-color: white;
  /* margin: auto 0; */
  font-size: 14px;
  line-height: 21px;
  color: #191919;
  font-weight: bold;
  border-bottom: #f36025 5px solid;
}

.header-right {
  display: flex;
}

/* Icon text */

.icon-text {
  color: #1a1a1a;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
}

/* Search */

.search-banner {
  background-color: #f36025;
  width: 100vw;
  height: 300px;
  border-radius: 10000px / 700px;
  margin-top: -100px;
  z-index: 0;
}

.search-container {
  width: 930px;
  height: 155px;
  z-index: 1;
  background-color: white;
  margin-top: -60px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #d2d2d2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.search-input {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: inherit;
  width: 330px;
  height: 40px;
  background-color: #f2f5f6;
  color: #788898;
  margin: 0 10px;
}

.search-button {
  width: 260px;
  height: 45px;
  background-color: #3978d1;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  margin: 0 10px;
}

/* Footer */

.footer {
  height: 60px;
  width: 100vw;
  background-color: #3e3e3e;
  color: white;
  font-size: 12px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OfferItem */

.offer-item-container {
  width: 760px;
  height: 170px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #d2d2d2;
  margin: 10px 0;
}

.offer-item-img-container {
  width: 240px;
  height: 170px;
  background-color: #c3cbd4;
  border-radius: 3px;
}

.offer-item-information {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-item-img {
  object-fit: contain;
  width: 240px;
  height: 170px;
}

.offer-item-alt-img {
  font-size: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 170px;
}

.offer-item-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  color: #191919;
}

.offer-item-price {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #f36025;
}

.offer-item-created {
  font-size: 14px;
  line-height: 16px;
  color: #191919;
}

.offers-page-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offers-page-table-item {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin: 10px;
}

.offers-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.offer-item-link {
  text-decoration: none;
}

/* Offer */

.offer-container {
  width: 830px;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.offer-container-left {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: 700px;
}

.offer-img {
  object-fit: contain;
  width: 585px;
  height: 330px;
  background-color: #c3cbd4;
}

.bg-grey {
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.offer-information {
  background-color: white;
  width: 585px;
  margin-top: -20px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 5px #d2d2d2;
}

.offer-title {
  font-size: 20px;
  line-height: 24px;
  color: #191919;
  padding-left: 20px;
}

.offer-price {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #f36025;
  padding-left: 20px;
}

.offer-created {
  font-size: 14px;
  line-height: 18px;
  color: #191919;
  padding-left: 20px;
}

.offer-description {
  width: 585px;
  height: 180px;
}

.offer-description-title {
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
}

.offer-description-text {
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.offer-container-right {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 160px;
  background-color: white;
  box-shadow: 2px 2px 5px #d2d2d2;
  border-radius: 2px;
}

.offer-creator-username {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-left: 20px;
}

.offer-creator-buy {
  width: 190px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f36025;
  color: white;
  margin: 20px;
}

.offer-creator-buy-container {
  display: flex;
  justify-content: center;
}

.hr {
  border: solid 0.5px #d5d7dc;
  margin: 0;
}

.signup-container {
  display: flex;
  margin-top: 100px;
  width: 1000px;
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 1000px;
}
